<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="Atoms Simulation" Manufacturer="toxicbishop" Version="1.0.0.0" UpgradeCode="abdd24a1-df7e-495b-a964-c52d999aaade">
    <MajorUpgrade DowngradeErrorMessage="A newer version of Atoms Simulation is already installed." />
    <MediaTemplate EmbedCab="yes" />
    
    <Feature Id="Main">
      <ComponentGroupRef Id="AppComponents" />
    </Feature>
  </Package>

  <Fragment>
    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="INSTALLFOLDER" Name="Atoms Simulation" />
    </StandardDirectory>
    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="AppProgramsFolder" Name="Atoms Simulation" />
    </StandardDirectory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="AppComponents" Directory="INSTALLFOLDER">
      <Component>
        <File Source="bin\Release\launcher.exe">
          <Shortcut Id="LauncherShortcut" Directory="AppProgramsFolder" Name="Atoms Simulation (Launcher)" WorkingDirectory="INSTALLFOLDER" Advertise="yes" />
        </File>
      </Component>
      
      <Component Directory="AppProgramsFolder">
        <RemoveFolder Id="CleanUpShortCut" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\toxicbishop\AtomsSimulation" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>

      <Component>
        <File Source="bin\Release\atom.exe">
          <Shortcut Id="BohrShortcut" Directory="AppProgramsFolder" Name="2D Bohr Model" WorkingDirectory="INSTALLFOLDER" Advertise="yes" />
        </File>
      </Component>
      <Component>
        <File Source="bin\Release\atom_excitation.exe">
          <Shortcut Id="ExcitationShortcut" Directory="AppProgramsFolder" Name="Atom Excitation" WorkingDirectory="INSTALLFOLDER" Advertise="yes" />
        </File>
      </Component>
      <Component>
        <File Source="bin\Release\atom_raytracer.exe">
          <Shortcut Id="RaytracerShortcut" Directory="AppProgramsFolder" Name="GPU Raytracer" WorkingDirectory="INSTALLFOLDER" Advertise="yes" />
        </File>
      </Component>
      <Component>
        <File Source="bin\Release\atom_realtime.exe">
          <Shortcut Id="RealtimeShortcut" Directory="AppProgramsFolder" Name="Realtime 3D Model" WorkingDirectory="INSTALLFOLDER" Advertise="yes" />
        </File>
      </Component>
      <Component>
        <File Source="bin\Release\wave_atom_2d.exe">
          <Shortcut Id="WaveShortcut" Directory="AppProgramsFolder" Name="Wave Atom 2D" WorkingDirectory="INSTALLFOLDER" Advertise="yes" />
        </File>
      </Component>
      <Component><File Source="bin\Release\glew32.dll" /></Component>
      <Component><File Source="bin\Release\glfw3.dll" /></Component>
    </ComponentGroup>
  </Fragment>
</Wix>
